.sn-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sn-logo-container{
    width:20%;
    margin-top:1rem;
    margin-left:1rem;
}
.sn-avatar-container {
    width:40%;
    margin:1rem auto;
}
.sn-logo-container img:hover{
    cursor:pointer;
}
.nav-icon {
    padding:0 14px;
}
.nav-icon:hover{
    cursor: pointer;
}
mat-sidenav {
    width: 300px;
    background-color: #011627;
    color: #fff;
}
mat-sidenav-content {
    background-color: #eeeeee;
}
mat-nav-list a{
    color: #fff;
}